.footer {
  color: var(--color-fourth);
  overflow: hidden;
  background-color: #4c392b;
  position: relative;

  &-top {
    position: relative;
    z-index: 2;

    @media (max-width: 991px) {
      gap: 40px;
    }
  }
  &-main {
    padding: 100px 24px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 500px;
      height: 400px;
      background: url("../../images/pattern-footer.png") no-repeat right bottom;
      background-size: cover;
    }

    @media (max-width: 991px) {
      padding: 48px 24px 24px;
    }

    @media (max-width: 480px) {
      background-position: center;
      background-image: url("../../images/bg-footer-mobile.jpg");
    }

    .column-title {
      font-size: 13px;
      line-height: 20px;
      font-weight: 300;
      font-family: var(--font-heading);
      margin-bottom: 20px;
    }
  }

  &-menu {
    .menu {
      & > ul {
        display: flex;
        align-items: flex-start;
        column-gap: 110px;

        @media (max-width: 1400px) {
          column-gap: 64px;
        }

        .menu-item-has-children {
          & > a {
            font-size: 13px;
            line-height: 20px;
            font-weight: 300;
            font-family: var(--font-heading);
            display: block;
            margin-bottom: 20px;
            transition: unset;
            pointer-events: none;
          }
        }
      }

      a {
        transition: all 0.4s ease;

        &:hover {
          color: var(--color-primary-3);
        }
      }

      .sub-menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px 100px;
      }
    }
  }

  &-address {
    padding-right: 40px;

    @media (max-width: 991px) {
      padding-right: 0;
    }

    li {
      &:not(:first-child) {
        margin-top: 8px;
      }

      display: flex;
      align-items: flex-start;
      gap: 12px;

      a {
        transition: all 0.4s ease;

        &:hover {
          color: var(--color-primary-3);
        }
      }

      .icon {
        width: 24px;
        height: 24px;
        min-width: 24px;
        transform: translateY(2px);
      }
    }
  }

  .form {
    display: flex;
    align-items: center;
    width: 100%;

    .field-item {
      width: 100%;
      position: relative;

      &.error {
        input {
          border-color: red;
        }
      }

      input {
        height: 40px;
        width: 100%;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding-bottom: 4px;
        color: var(--color-white);
        border-radius: unset;

        &:focus-visible + label,
        &:not(:placeholder-shown) + label {
          transform: translateY(-100%);
          font-size: 10px;
          line-height: 14px;
        }
      }

      label {
        position: absolute;
        left: 0;
        pointer-events: none;
        transition: all 0.4s ease;
      }
    }

    button {
      margin-left: 32px;
      font-size: 13px;
      line-height: 15px;
      font-weight: 300;
      font-family: var(--font-heading);
      color: var(--color-fourth);
      text-transform: uppercase;

      gap: 12px;
      display: flex;
      align-items: center;
      width: max-content;
      min-width: max-content;
      transition: all 0.4s ease;

      &.aloading {
        pointer-events: none;

        span {
          color: transparent;
        }

        .icon {
          opacity: 0;
        }
      }

      .icon {
        transition: all 0.4s ease;
      }

      &:hover {
        color: var(--color-primary-3);

        .icon {
          transform: translateX(5px);
          color: var(--color-primary-3);
        }
      }
    }
  }

  .form-message {
    color: red;
    margin-top: 8px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
  }

  &-social {
    margin-top: 40px;
    ul {
      display: flex;
      align-items: center;
      gap: 24px;

      a {
        transition: all 0.4s ease;

        &:hover {
          color: var(--color-primary-3);
        }
      }
    }
  }

  &-term {
    padding: 14px 24px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    min-height: 44px;
    border-top: 1px solid var(--color-fourth);

    @media (max-width: 991px) {
      padding: 14px 24px;
      width: 100%;
      gap: 12px;
      // flex-wrap: nowrap;
      justify-content: space-between;
    }

    .copyright {
      @media (max-width: 991px) {
        width: max-content;
        flex-shrink: 0;
        flex-wrap: wrap;
      }
    }

    &__menu {
      @media (max-width: 991px) {
        width: max-content;
        gap: 24px;
        flex-wrap: wrap;
      }

      @media (max-width: 767px) {
        gap: 12px;
      }
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 24px;

      @media (max-width: 991px) {
        gap: 12px 24px;
      }

      li {
        @media (max-width: 767px) {
          flex-shrink: 0;
        }
      }
    }

    a {
      transition: all 0.4s ease;
      display: block;

      &:hover {
        opacity: 1;
      }
    }

    .alpha {
      @media (max-width: 767px) {
        flex-shrink: 0;
      }
    }
  }
}
