<div class="header-container">
    <div class="header-lang">
        <div class="dropdown-custom d-inline-block">
            <div class="dropdown-custom-btn d-flex align-items-center  max-w-max">
                <div class="value-select ">
                    <span>VIE</span>
                </div>
                <div class="icon">
                    <svg width="12" height="5" viewBox="0 0 12 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M3.94449 3.89259L0 0H12L8.18722 3.8643C7.02347 5.04378 5.12387 5.05645 3.94449 3.89259Z"
                            fill="#E1CDAD" />
                    </svg>
                </div>
            </div>
            <div class="dropdown-custom-menu">
                <div class="dropdown-custom-item">
                    <span>ENG</span>

                </div>
            </div>
        </div>
    </div>
    <div class="header-main d-flex align-items-center">
        <div class="header-menu">
            <ul>
                <li>
                    <a href="./index.html">Trang chủ</a>
                </li>
                <li>
                    <a href="./*.html">Câu chuyện</a>
                </li>
                <li>
                    <a href="./*.html">Phân khu</a>
                </li>
                <li>
                    <a href="./*.html">Vị trí</a>
                </li>
            </ul>
        </div>
        <div class="header-logo">
            <a href="./index.html" class="d-inline-block logo">
                <img src="./assets/images/icons/logo-main.svg" alt="" fetchpriority="high">
            </a>
        </div>

        <div class="header-menu">
            <ul>
                <li>
                    <a href="./*.html">Tiện ích</a>
                </li>
                <li>
                    <a href="./*.html">Tin tức</a>
                </li>
                <li>
                    <a href="./*.html">Thư viện</a>
                </li>
                <li>
                    <a href="./*.html">Liên hệ</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="header-vr d-flex justify-content-end">
        <a href="" class="cta-vr text-uppercase">360 Virtour</a>
    </div>
</div>